button {
  background-color: transparent;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.button-container button {
  font-size: 18px;
}
